body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ecf0f1;
	color: navy;
}

header {
	background-color: gray;
	color: #fff;
	padding: 10px 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0px 3rem;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

footer {
	background-color: gray;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

main {
	padding: 20px;
	padding-bottom: 60px; 
	
}

.products, .cart, .product-details {
	margin-top: 20px;
}

.products, .product-details {
	margin-bottom: 40px;
}

.product-details img {
	text-align: center;
	background-color: navy;
	padding: 10px;
	margin: 10px;
	width: 100%;
	max-width: 370px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list, .cart-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-item, .cart-item {
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	
	width: calc(25% - 20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	overflow: hidden;
	}

.product-item img, .cart-item img {
	height: 370px;
	max-height: 370px; 
	object-fit: cover;
}

.product-item h3, .cart-item h3 {
	font-size: 1.2em;
	margin: 10px 0;
}

.product-item p, .cart-item p {
	margin: 5px 0;
}

.add-to-cart, .checkout {
	background-color: #e74c3c;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.add-to-cart:hover, .checkout:hover {
	background-color: #c0392b;
}

.total-price {
	font-size: 1.5em;
	margin: 20px 0;
}


@media (max-width: 600px) {
	nav ul {
			flex-direction: column;
		text-align: center;
		
	}

	nav ul li {
			margin: 10px 0;
	}

	.product-item, .cart-item {
			width: 100%;
	}

	footer {
			position: relative;
	}
}
