body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

header{
	background-color: black;
	grid-column: 1/4;
	color:white;
	text-align: left;
	font-size: 1px;
	
}


main{
	grid-column:1/3;
	background-color: gray;
	color:orange;
	text-align: left;
	font-size: 5px;
	height: 60%;
	
	
}

aside{
	grid-column:3/4;
	background-color: navy;
	text-align: left;
	font-size: 5px;
	hight: 60%;
}

nav{
	display: flex;  
	justify-content: space-between;
	width: auto;
	padding: 10px 20px; 
	background-color: 	#36454F;
}

nav a{
	font-size: 5px;
	color: white;
	text-decoration: none;
	flex: auto;
	text-align: center;
}

footer{
	grid-column:1/4;
	font-size: 3px;
	background-color: black;
	color: white;
	text-align: center;
}