*{
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}



body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

header{
	background-color: black;
	grid-column: 1/4;
	background-color: #bbb;
	/* display: flex; */
	/* align-items: center;
	justify-content: center; */
	padding: 20px;
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	color:white;
	text-align: left;
	font-size: 3px;
}

#first{
	width:40px;
	height: 60px;
}

#second{
	width: 40px;
	height: 60px;
}

p{
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
	font-size: 20px;
}


header h1{
	font-size: 0.5em;
	margin: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}



main{
	padding-left: 5px;
	grid-column:1/3;
	background-color: gray;
	color:orange;
	text-align: left;
	font-size: 10px;
}

aside{
	padding-left: 5px;
	grid-column:3/4;
	background-color: navy;
	text-align: left;
	font-size: 10px;
	color:white;

}

.in{
	float: left;
}

.out{
	float: right;
}

nav{
	display: flex;  
	justify-content: space-between;
	width: 100%;
	padding: 10px 19%; 
	background-color: #36454F;
}

nav a{
	font-size: 5px;
	flex-direction: column;
	color: white;
	text-decoration: none;
	flex: 1;
	text-align: center;
}

footer{
	grid-column:1/4;
	font-size: 3px;
	background-color: black;
	color: white;
	text-align: center;
}

.card{
	height: 60vh;
}


nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
/*
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
*/