

body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5em;
}

header{
	background-color: black;
	grid-column: 1/4;
	background-color: #bbb;
	color:white;
	text-align: left;
	font-size: 3px;
	justify-content: center;
	align-items: center;
}

main section h2{
	text-align: center;
	fomt-size: 3em;
}

header h1{
	font-size: 1em;
	margin: 10px;
	color:#36454F;
	text-align: center;
	
}
.card{
	align-items: center;
	justify-content: space-around;
	margin: 15px;
	padding: 15px;
	overflow: hidden;
}

#first{
	float: right;
	width: 10%;
	height: auto;
	margin-left: 5px;
	

}

#second{
	float:left;
	width: 10%;
	height: auto;
	margin-right: 5px;

	
}

main section p{
  font-family: "Lobster", sans-serif;
  font-style: normal;
	font-size: 2em;
}


header{
	font-size: 1em;
  font-family: "Nunito Sans", sans-serif;

}



main{
	padding-left: 5px;
	grid-column:1/3;
	background-color: gray;
	color:orange;
	text-align: left;
	font-size: 5px;
	justify-content: space-around;
	
}

aside{
	padding-left: 5px;
	grid-column:3/4;
	background-color: navy;
	text-align: left;
	font-size: 5px;
	color:white;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

aside ul li a{
  margin-bottom: 15px;
	color:white;
	font-size: 3em;
	padding: 15px;
	margin: 0 auto;
	
}

aside ul {
	color:white;
	list-style: none;
	padding: 5px;
	margin: 0 auto;
	text-align: center; 
	justify-items: space-around;
	justify-content: center;
	
	
}

.in{
	font-size: 1em;
	width: 60%;
	height: auto;
	display: inline-block;;
	
	
}

.out{
	
}

nav{
	display: flex;  
	justify-content: space-between;
	padding: 10px auto; 
	background-color: #36454F;
}

nav a{
	font-size: 0.7em;
	flex-direction: column;
	color: white;
	text-decoration: none;
	flex: 1;
	text-align: center;
	padding: 10px;
}

footer{
	grid-column:1/4;
	font-size: 3px;
	background-color: black;
	color: white;
	text-align: center;
}



nav a:hover {
	text-decoration:overline;
	color: white;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
/*
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
*/