@media (min-width: 700px) {
    body {
        text-align: center;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #temple-container{
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    main {
        max-width: 1900px;
        
    }

    figure {
        width: calc(100% - 20px);
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
