@media (min-width: 700px) {
    body {
        text-align: center;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #temple-container{
        text-align: center;
        justfy-content: center;
        align-items: center;
    }

    main {
        max-width: 768px;
    }

    figure {
        width: calc(100% - 20px);
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
