@media (min-width: 700px) {

	.weath::after {
		content: "";
}
	.weath::after img{
		display: inline-block;
		width: 5px;
		height: 5px;
		vertical-align: middle;
	}
	section{
		background-color: gray;
	}
	main{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.weather{
		grid-column: 3/4;
		margin-top: 70px;
	}
	.data{
		grid-column: 1/2;
		margin-bottom: 70px;
	}
}