@media (min-width: 700px) {
	.weather{
		margin-top: 5px;
		margin-right: 0px;
		background-color: #f0f0ad0;
	}
	weather::after {
    content: url('images/weather.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
}
	section{
		background-color: gray;
		position: absolute;
	}
	
}