:root {
    --primary-color: red;
    --secondary-color: navy;
    --background-color: black;
    --text-color: white;;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

main {
    padding: 20px;
   

}


footer {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
}

.weather::after {
    content: "⛅";
}

section h2{
    background-color: var(--primary-color);
}