@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main {
        max-width: 768px;
    }

    figure {
        width: calc(33.333% - 20px);
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
