@media screen and (min-width: 500px){
	header{
		backgroud-color: black;
		color: white;
	}

	main{
		grid-template-columns: 1fr 1fr;
		backgroud-color: pink;
		jusitfy-content: left;
	}
	.no_card{
		grid-column: 2/3;
		text-align: left;
		padding: 20px;
	}

	.card{
		grid-column: 1/2;
		text-align: left;
		padding: 20px;
	}
}

